@model Proyecto_Veterinaria.Models.DatosHorarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DatosHorarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblEmpleadosId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEmpleadosId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoHorario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoHorario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadHoras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadHoras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoExtra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoExtra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
