@model IEnumerable<Proyecto_Veterinaria.Models.DatosHorarios>

@{
    ViewBag.Title = "Tabla Horarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white; text-align:center">Tabla tipos de horarios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="color:white;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblEmpleados.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoHorario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadHoras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoNormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoExtra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblEmpleados.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoHorario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadHoras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoNormal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoExtra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
