@model Proyecto_Veterinaria.ViewModels.VmEmpleado

@{
    ViewBag.Title = "Tabla de Empleados";
}

<h2 style="color:white; text-align:center">Tabla Empleados</h2>

<p>
    @Html.ActionLink("Nueva", "Create")
</p>
<table class="table" style="color:white;">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Documento
        </th>
        <th>
            Fecha
        </th>
        <th>
            Correo
        </th>
        <th>
            Area
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.listaEmpleados) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @*Html.DisplayFor(modelItem => item.Fecha)*@
            @item.Fecha.ToString("dd-MM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
